# This workflow will build a package using Maven and then publish it to GitHub packages when a release is created
# For more information see: https://github.com/actions/setup-java/blob/main/docs/advanced-usage.md#apache-maven-with-a-settings-path

name: Maven Package

on:
  push: 
    branches: [ master ]
 

jobs:
  build:

    runs-on: ubuntu-latest
 

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v2
      with:
        distribution: '<distribution>'
        java-version: 1.8
 
    - name: Build with Maven
      run: mvn -B package --file pom.xml
      
    - name: jar file is created ?
      run: |
        cd target 
        ls -la


